
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Weblog a Blogging Category Bootstrap responsive WebTemplate | Contact :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Weblog a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

    <script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
    </script>
    <link href="/web/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="/web/css/contact.css" rel='stylesheet' type='text/css' />
    <link href="/web/css/style.css" rel='stylesheet' type='text/css' />
    <link href="/web/css/fontawesome-all.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
          rel="stylesheet">
</head>

<body>
    <!--Header-->

    <!--//header-->
    <!--/banner-->
    <div class="banner-inner">
    </div>
    <!--//banner-->
    <!--/main-->
    <section class="main-content-w3layouts-agileits">

        <h3 class="tittle">Bizimle iletişime Geçin</h3>
        <p class="sub text-center">Fikirleri tartışmayı çok seviyoruz.</p>
        <div class="contact-map inner-sec">

            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12046.868941037055!2d29.0368903!3d40.9876722!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2bf4921764859e70!2zw5xsa2VyIEZlbmVyYmFow6dlIMWew7xrcsO8IFNhcmFjb8SfbHUgU3RhZHl1bXU!5e0!3m2!1str!2str!4v1667914743174!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="ad-inf-sec bg-light">
            <div class="container">
                <div class="address row">

                    <div class="col-lg-6 address-grid">
                        <div class="row address-info">
                            <div class="col-md-4 address-left text-center">
                                <i class="far fa-map"></i>
                            </div>
                            <div class="col-md-8 address-right text-left">
                                <h6>Adres</h6>
                                <p>
                                    Kocaeli, TR

                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-6 address-grid">
                        <div class="row address-info">
                            <div class="col-md-4 address-left text-center">
                                <i class="far fa-envelope"></i>
                            </div>
                            <div class="col-md-8 address-right text-left">
                                <h6>Mail</h6>
                                <p>
                                    Email :
                                    <a href="mailto:example@email.com">deneme@mail.com</a>

                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="contact_grid_right">
                <form method="post">
                    <div class="row contact_left_grid">
                        <div class="col-md-6 con-left">
                            <div class="form-group">
                                <label for="validationCustom01 my-2">Adınız</label>
                                <input class="form-control" type="text" name="ContactUserName" placeholder="" required="">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Mail Adresi</label>
                                <input class="form-control" type="email" name="ContactMail" placeholder="" required="">
                            </div>
                            <div class="form-group">
                                <label for="validationCustom03 my-2">Konu</label>
                                <input class="form-control" type="text" name="ContactSubject" placeholder="" required="">
                            </div>
                        </div>
                        <div class="col-md-6 con-right">
                            <div class="form-group">
                                <label for="textarea">Mesaj</label>
                                <textarea id="textarea" name="ContactMessage" placeholder=""></textarea>
                            </div>
                            <input class="form-control" type="submit" value="Gönder">

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!--//main-->
    <!--footer-->
    <footer>
        @*@await Html.PartialAsync("~/Views/Shared/Partial3.cshtml")*@
    </footer>
    <!---->
    <!-- js -->
    <script src="js/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <!--/ start-smoth-scrolling -->
    <script src="/web/js/move-top.js"></script>
    <script src="/web/js/easing.js"></script>
    <script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 900);
			});
		});
    </script>
    <!--// end-smoth-scrolling -->

    <script>
		$(document).ready(function () {
			/*
									var defaults = {
							  			containerID: 'toTop', // fading element id
										containerHoverID: 'toTopHover', // fading element hover id
										scrollSpeed: 1200,
										easingType: 'linear'
							 		};
									*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
    </script>
    <a href="#home" class="scroll" id="toTop" style="display: block;">
        <span id="toTopHover" style="opacity: 1;"> </span>
    </a>

    <!-- //Custom-JavaScript-File-Links -->
    <script src="/web/js/bootstrap.js"></script>


</body>

</html>

