@using EntityLayer.Concrete
@model List<Blog>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 footer-grid-agileits-w3ls text-left">
                <h3>Hakkımızda</h3>
                <p>Blog, genellikle güncelden eskiye doğru sıralanmış yazı ve yorumların yayınlandığı, web tabanlı bir yayını belirtir..</p>
                <div class="read">
                    <a href="/About/Index" class="btn btn-primary read-m">Devamını Oku</a>
                </div>
            </div>
            <div class="col-lg-4 footer-grid-agileits-w3ls text-left">

                @await Component.InvokeAsync("BlogLast3Post")

            </div>
            <!-- subscribe -->
            <div class="col-lg-4 subscribe-main footer-grid-agileits-w3ls text-left">
                <h2>Mail Bültenine Abone Olun</h2>
                @await Html.PartialAsync("~/Views/NewsLetter/SubscribeMail.cshtml")
                <!-- //subscribe -->
            </div>
        </div>

        <!-- //footer -->


    </div>
</footer>